<html>
  <head>
    <title>Shell</title>
    <style>
      body, form input {
        margin:0;
        font-family: monospace;
        background-color: #000;
        color: #ccc;
      }

      #shell-application {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      input[type=file]{
        display:none;
      }


      form {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
      }

      form input {
        border:none;
        outline:none;
      }

      #shell-output {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div id="shell-application">
      <form autocomplete="off" method="POST">
        <div style="display:table; width: 100%;">
          <div id="cwdLabel" style="display: table-cell; width: 1%;"></div>
          <input id="cmd" name="cmd" style="display: table-cell; width: 100%;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
        </div>
      </form>
      <pre id="shell-output"></pre>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input id="file-upload-input" type="file" name="file" multiple="">
    </form>
  </body>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/stack/class/Application.js"></script>
  <script>
    
    //strap Application.include to global scope
    function include() {
      return Application.include.apply(Application, arguments);
    }
    
  </script>
  <script>
    
    

    
    let dn = 40, up = 38, enter = 13;
    function get(url, callback){
      var xmlHttpRequest = new XMLHttpRequest();
      xmlHttpRequest.addEventListener("load", function load(){ 
        if(callback) callback(this.responseText, this);
      });
      xmlHttpRequest.open("GET", url);
      xmlHttpRequest.send();
    }

    var cmdIndex = 0;
    var cmdHistory = [];

    let cmd = document.querySelector('#cmd');

    document.body.onkeydown = function bodyOnKeyDown(e) {
      cmd.focus();
    }

    cmd.keys = [];
    function checkKey(e){
      if(cmd.value && !cmd.value.startsWith("login")) return;
      let cmdValue = cmd.value.split(' ');
      if(cmdValue[2] != undefined) {
        //remove 3rd word
        cmdValue.pop();
        //display only 2 words
        cmd.value = cmdValue.join(' ') + " ";
      } 
    }

    //Event sequence 1
    cmd.onkeydown = function (e){
      checkKey(e);
      if(e.keyCode == enter){
        if(cmd.value && cmd.value.startsWith("login")){
          cmd.style.color = "#000";
          cmd.value += cmd.keys.join(";");
        }
        if(cmd.value && cmd.value.startsWith("file")){
          let fileCmd = cmd.value;
          let quotes = fileCmd.match(/[^"]+(?=(" ")|"$)/g);
          for(var i in quotes) {
            fileCmd = fileCmd.replace('"' + quotes[i] + '"', '');
          }
          cmd.value = fileCmd.trim() + ' ' + btoa(quotes.join(' '));
        }
      }

      if(e.keyCode == dn || e.keyCode == up){
        if(cmdHistory[cmdIndex]){
          let cmd = cmdHistory[cmdIndex].cmd + " " + cmdHistory[cmdIndex].args.join(' ');
          document.querySelector('#cmd').value = cmd;
        }
      }

      if(e.keyCode == up){
        if(cmdIndex + 1 < cmdHistory.length) cmdIndex++;
      }

      if(e.keyCode == dn){
        if(cmdIndex -1 >= 0) cmdIndex--;
      }
    }
    //Event sequence 2
    cmd.onkeypress = function(e){
      if(cmd.value && !cmd.value.startsWith("login")) return;
      let cmdValue = cmd.value.split(' ');
      if(cmdValue[2] != undefined) {
        let c = String.fromCharCode(e.keyCode),
            code = (btoa),
            key = (()=>{return code(c).split('==')[0];});
        cmd.keys.push(key());
        if(e.keyCode != enter) e.preventDefault();//!important
      }
      else {
        cmd.keys = []
      }
    }
    //Event sequence 3
    cmd.onkeyup = function(e) {
      checkKey(e);
    };


    cmd.focus();

  </script>

  <script>
    var filedropOption = {
      queuewait:50, //pause time
      maxfiles: 1000,    // Limit the total number of uploads possible - default behaviour
      queuefiles: 2,  // Control how many uploads are attempted in parallel (ignores maxfiles setting)
      fallback_id: 'file-upload-input',   // an identifier of a standard file input element, becomes the target of "click" events on the dropzone
      fallback_dropzoneClick : true,  // if true, clicking dropzone triggers fallback file selection and the fallback element is made invisible.
      url: '/upload',				// upload handler, handles each file separately, can also be a function taking the file and returning a url
      paramname: 'userfile',			// POST parameter name used on serverside to reference file, can also be a function taking the filename and returning the paramname
      withCredentials: true,			// make a cross-origin request with cookies
      data: {
        //path: '/stack/upload/', 			// send POST variables
        //param2: function(){
        //	return calculated_data; // calculate data at time of upload
        //},
      },
      headers: { 			// Send additional request headers
        'upload-path': '/upload/'
      },
      error: function(err, file) {
        switch(err) {
          case 'BrowserNotSupported':
            alert('browser does not support HTML5 drag and drop')
            break;
          case 'TooManyFiles':
            // user uploaded more than 'maxfiles'
            break;
          case 'FileTooLarge':
            // program encountered a file whose size is greater than 'maxfilesize'
            // FileTooLarge also has access to the file which was too large
            // use file.name to reference the filename of the culprit file
            break;
          case 'FileTypeNotAllowed':
            // The file type is not in the specified list 'allowedfiletypes'
            break;
          case 'FileExtensionNotAllowed':
            // The file extension is not in the specified list 'allowedfileextensions'
            break;
          default:
            break;
        }
      },
      allowedfiletypes: [],	// filetypes allowed by Content-Type.  Empty array means no restrictions
      allowedfileextensions: [], // file extensions allowed. Empty array means no restrictions
      maxfiles: 25,
      maxfilesize: 5000, 	// max file size in MBs
      error : function(statusText, file, i, statusCode) {
        try{
        let fileID = file.size + "" + file.lastModified;
        let path = filedropOption.headers['upload-path'];
        $('.loading', '#'+fileID)
          .css('color', '#bf0000')
          .html('Error ' + path + file.name);
        }
        catch(e){}
      },
      dragOver: function() {
        // user dragging files over #dropzone
      },
      dragLeave: function() {
        // user dragging files out of #dropzone
      },
      docOver: function() {
        // user dragging files anywhere inside the browser document window
      },
      docLeave: function() {
        // user dragging files out of the browser document window
      },
      drop: function(e) {
        // user drops file
        let files = e.originalEvent.dataTransfer.files;
        window.uploadFiles = files;
        for(var i=0;i<files.length;i++){
          let fileID = files[i].size + "" + files[i].lastModified;
          let line = '<div id="' + fileID + '" class="file-upload" style="color:#ccc;">\
<div style="padding-left: 0px;">www.desktop.expert:/# file upload ' + files[i].name + '</div>\
<div class="loading" style="padding-left:10px;">0% complete</div>\
<div style="padding-left:10px; color: #bf0000;"></div></div>';
          $('#shell-output').prepend(line);
        }
      },
      uploadStarted: function(i, file, len){
        // a file began uploading
        // i = index => 0, 1, 2, 3, 4 etc
        // file is the actual file of the index
        // len = total files user dropped
        window.onbeforeunload = function (e) {
          var message = "You have " + len + " files uploading. Are you sure you want to cancel?",
              e = e || window.event;
          // For IE and Firefox
          if (e) {
            e.returnValue = message;
          }
          // For Safari
          return message;
        };
      },
      uploadFinished: function(i, file, response, time) {
        // response is the data you got back from server in JSON format.
        let fileID = file.size + "" + file.lastModified;
        let path = filedropOption.headers['upload-path'];
        $('.loading', '#'+fileID)
            .css('color','#00bf00')
            .html(path + file.name);
      },
      progressUpdated: function(i, file, progress, speed, duration) {
        // this function is used for large files and updates intermittently
        // progress is the integer value of file being uploaded percentage to completion
        let fileID = file.size + "" + file.lastModified;
        let path = filedropOption.headers['upload-path'];
        //$('.loading', '#'+fileID).html('uploading '+progress+"% "+speed+" KB/s " + duration + " sec "+ file.uploaded+" bytes "+file.timeRemaining+" mins left.");
      	$('.loading', '#'+fileID).html('uploading '+progress+"%");
      },
      globalProgressUpdated: function(progress) {
        // progress for all the files uploaded on the current instance (percentage)
        // ex: $('#progress div').width(progress+"%");
      },
      speedUpdated: function(i, file, speed) {
        // speed in kb/s
      },
      rename: function(name) {
        // name in string format
        // must return alternate name as string
      },
      beforeEach: function(file) {
        // file is a file object
        // return false to cancel upload
      },
      beforeSend: function(file, i, done) {
        // file is a file object
        // i is the file index
        // call done() to start the upload
        window.uploadPath = window.uploadPath || (i==0 ? prompt('File Directory:', '/stack/upload/') : null);
        if(window.uploadPath) {
          if(!window.uploadPath.endsWith('/')) window.uploadPath += '/';
          filedropOption.headers['upload-path'] = window.uploadPath;
          done();
        } else {
          let fileID = file.size + "" + file.lastModified;
          $('.loading', '#'+fileID)
          .css('color', '#bf0000')
          .html('upload canceled ' + file.name);
        }
      },
      afterAll: function() {
        console.log('removing window.onbeforeunload handle');
        // runs after all files have been uploaded or otherwise dealt with
        window.onbeforeunload = null;
      }
    };
    //$('#shell-application').filedrop(filedropOption);
    include('/stack/class/UploadManager.js');
    Application.Run(() => {
    	window.uploadManager = new UploadManager(filedropOption);
    });
  </script>

</html>































