<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Emerge Business Technologies</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/home.css" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">



          <img src="/images/emerge-business-300x100.svg">
       

          <form action="/search" method="GET">
            <input style="text-align:left; margin-bottom: 10px;" type="text" name="q" class="form-control"/>

            <button type="submit" class="btn btn-primary">
              Emerge Business Search
            </button>


            <a href="/sign-up" class="btn btn-outline-primary"  role="button">Learn More...</a>


            <!--a href="#" class="btn btn-secondary mt-3">Public Companies</a-->
          </form>

        </div>
      </section>

    </main>



    <footer class="text-muted">
      <div class="container" style="text-align: center;">
        <div class="">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/sign-in">Sign-In</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
            <li class="list-inline-item"><a href="/terms">Terms</a></li>
            <li class="list-inline-item"><a href="/support">Support</a></li>
          </ul>
        </div>
        <p class="mb-1">&copy; 2017 - 2018 Emerge Business Technologies, Inc.</p>

      </div>
    </footer>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>











