<!DOCTYPE html>
<html ng-app="FileSystemApplication">
  <head>
    <title>Playbook Studio</title>
    <link href="/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
    <link href="/lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/lib/jstree/dist/themes/default/style.min.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/js/js-yaml.js"></script>
    <style>
      pre{
        margin: 1px 0;
        padding: 2px;
        color: white;
        background-color: #333;
        border-radius: 0;
        border:none;
        border-bottom: solid 1px #ccc;
      }

      .cmd-container {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }

      .cmd-history{
        position: absolute;
        right: 0;
        left: 0;
        top: 27px;
        bottom: 22px;
        overflow: none;
        overflow-y: scroll;
      }

      .terminal {
        position: absolute;
        right: 0px;
        bottom: 29px;
        background: #333;
        border: solid 1px #ccc;
        color: white;
        padding: 3px;
        width: 60%;
        height: 40%;
      }

      .terminal .title {
        font-weight: bold;
        text-align:left;
        color: black;
        background-color: #ccc;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height:27px;
        line-height: 27px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

      }
      .cmd:focus {
        outline:0;
      }

      .win-controls {
        position: absolute;
        right: 1px;
        top: 1px;
      }

    </style>

    <style>

      #global-tasklist{
        min-height: 20px;
      }

      #sortable-tasklist{
        min-height: 20px;
      }

      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }
      #sortable li span { position: absolute; margin-left: -1.3em; }

      .invalid-feedback {
        display:none;
      }

    </style>
  </head>
  <body>
    <div style="height:100%; border:solid 1px #ccc;" class="app panel panel-primary" ng-controller="FileSystemController">
      <div class="panel-body win-body" style="margin-top:0;">
        <div class="win-body-toolbar">
          <!-- Right Aligned Buttons -->

          <!-- End Right Aligned Buttons -->

          <!-- Left Aligned Buttons -->
          <button id="new-playbook" type="button" class="btn btn-xs btn-default" role="button" title="New Playbook">
            <span class="glyphicon glyphicon-folder-close"></span>&nbsp; New Playbook
          </button>
          <button id="new-task" type="button" class="btn btn-xs btn-default" role="button" title="New Task">
            <span class="glyphicon glyphicon-folder-close"></span>&nbsp; New Task
          </button>

          <button id="copy-task" type="button" class="btn btn-xs btn-default" role="button" title="Copy Task">
            <span class="glyphicon glyphicon-folder-close"></span>&nbsp; Copy Task
          </button>

          <button id="delete-task" type="button" class="btn btn-xs btn-default" role="button" title="Delete Task">
            <span class="glyphicon glyphicon-folder-close"></span>&nbsp; Delete Task
          </button>

          <!-- End Left Aligned Buttons -->
        </div>
        <div class="win-body-center-panel" style="padding-left: 299px; right: 0px;">
          <div class="loading-dialog" align="center" style="position:fixed; display:{{displayLoading}}; width:100%; height:100%;"><img src="/images/ajax-loader.gif"></div>

          <div class="container row">
            <div class="col-md-4 order-md-2 mb-4" style="float:left;">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Playbook</span>
                <span class="badge badge-secondary badge-pill">{{playbookTasks.length}} tasks</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <form id="playbook" class="needs-validation" novalidate>

                    <div class="mb-3">
                      <label for="hosts">playbook</label>
                      <select id="playbook" class="form-control" ng-change="playbookChanged()" ng-model="playbookID">
                        <option></option>
                        <option ng-repeat="item in playbookList" value="{{item._id}}">{{item.playbook.name}}</option>
                      </select>
                      <div class="invalid-feedback">

                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="name">name</label>
                      <input type="text" class="form-control" name="name" placeholder="" value="">
                      <div class="invalid-feedback">

                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="hosts">hosts</label>
                      <input type="text" class="form-control" name="hosts" placeholder="" value="">
                      <div class="invalid-feedback">

                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="hosts">vars</label>
                      <textarea type="text" class="form-control" name="vars" placeholder="" rows="3"></textarea>
                      <div class="invalid-feedback">

                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="hosts">gather_facts</label>
                      <input type="text" class="form-control" name="gather_facts" placeholder="" value="">
                      <div class="invalid-feedback">

                      </div>

                    </div>

                    <div class="mb-3">
                      <label for="remote_user">remote_user</label>
                      <input type="text" class="form-control" name="remote_user" placeholder="" value="">
                      <div class="invalid-feedback">

                      </div>

                    </div>
                    <hr class="mb-4">
                    <button id="save-playbook" class="btn btn-primary btn-lg btn-block" type="submit">Save Playbook</button>
                  </form>

                </li>

                <li class="list-group-item d-flex justify-content-between lh-condensed" >
                  <div id="sortable-tasklist" class="connectedSortable" style="max-height: 500px; overflow: scroll;">
                    <div ng-repeat="item in playbookTasks" id="{{item._id}}" style="text-align: left;" class="btn btn-xs btn-default btn-block user-task"><span class="glyphicon glyphicon-blackboard"></span>&nbsp; {{item.task.name}}</div>
                  </div>
                </li>


                <li class="list-group-item d-flex justify-content-between lh-condensed"  >
                </li>


              </ul>
            </div>
            <div class="col-md-8 order-md-1">
              <form id="task">



                <h4 class="mb-3">Task ID: {{activeTaskId}}</h4>

                <div class="mb-3">
                  <label for="firstName">name</label>
                  <input type="text" class="form-control" name="name" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid name is required.
                  </div>
                </div>


                <div class="mb-3">
                  <label for="when">when</label>
                  <input type="text" class="form-control" name="when" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>




                <div class="mb-3">
                  <label for="become">become</label>
                  <input type="text" class="form-control" name="become" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>

                <div class="mb-3">
                  <label for="become_user">become_user</label>
                  <input type="text" class="form-control" name="become_user" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>

                <div class="mb-3">
                  <label for="module">module</label>
                  <select name="module" class="form-control">
                    <option></option>
                    <option value="dnf">dnf</option>
                    <option value="yum">yum</option>
                    <option value="debug">debug</option>
                    <option value="template">template</option>
                    <option value="file">file</option>
                    <option value="get_url">get_url</option>
                    <option value="set_fact">set_fact</option>
                    <option value="import_tasks">import_tasks</option>
                    <option value="unarchive">unarchive</option>
                    <option value="stat">stat</option>
                    <option value="shell">shell</option>
                    <option value="service">service</option>
                    <option value="copy">copy</option>
                  </select>
                  <div class="invalid-feedback">
                    Valid module is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="parameters">module parameters</label>
                  <textarea type="text" class="form-control" name="module_params" placeholder="" rows="5" required></textarea>
                  <div class="invalid-feedback">

                  </div>
                </div>






                <div class="mb-3">
                  <label for="vars">vars</label>
                  <textarea type="text" class="form-control" name="vars" placeholder=""  rows="5" ></textarea>
                  <div class="invalid-feedback">

                  </div>
                </div>








                <div class="mb-3">
                  <label for="tags">tags</label>
                  <textarea type="email" class="form-control" name="tags" placeholder=""  rows="5" ></textarea>
                  <div class="invalid-feedback">

                  </div>
                </div>






                <div class="mb-3">
                  <label for="with_items">with_items</label>
                  <textarea type="text" class="form-control" name="with_items" placeholder=""  rows="5" ></textarea>
                  <!--select class="form-control" multiple size="6"></select-->
                  <div class="invalid-feedback">

                  </div>
                </div>


                <div class="mb-3">
                  <label for="register">register</label>
                  <input type="text" class="form-control" name="register" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>



                <div class="mb-3">
                  <label for="notify">notify</label>
                  <input type="text" class="form-control" name="notify" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>

                <div class="mb-3">
                  <label for="ignore_errors">ignore_errors</label>
                  <input type="text" class="form-control" name="ignore_errors" placeholder="" value="" >
                  <div class="invalid-feedback">

                  </div>
                </div>

                <hr class="mb-4">

                <button id="save-task" class="btn btn-primary btn-lg btn-block" type="submit">Save Task</button>

              </form>




            </div>
          </div>


        </div>
        <div class="win-body-left-panel ui-resizable" style="width: 300px;">
          <div id="global-tasklist" class="connectedSortable">
            <div ng-repeat="item in tasks" id="{{item._id}}" style="text-align: left;" class="btn btn-xs btn-default btn-block user-task">
              <input type="checkbox" id="{{item._id}}" />
              <span class="glyphicon glyphicon-blackboard"></span>&nbsp;
              {{item.task.name}}
            </div>
          </div>
        </div>
        <div class="win-body-right-panel ui-resizable" style="width: 0px; right: 0px;">&nbsp;<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
        </div>
        <div class="win-body-footer">
        </div>
      </div>

    </div>


    <script>
      function HttpPost(url, params, cb){
        var http = new XMLHttpRequest();
        http.open('POST', url, true);
        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        //Call a function when the state changes.    
        http.onreadystatechange = function() {
          if(http.readyState == 4) {
            if(cb) cb(http.responseText, http.status, http);
          }
        }
        http.send(params);
        return http;
      }

      function HttpGet(url, params, cb){
        var http = new XMLHttpRequest();
        http.open('GET', url + '?' + params);
        //Call a function when the state changes.
        http.onreadystatechange = function() {
          if(http.readyState == 4) {
            if(cb) cb(http.responseText, http.status, http);
          }
        }
        http.send();
        return http;
      }

      function lookupField(name, list){
        for(var i in list){
          if(list[i].name == name) return list[i];
        }
        return null;
      }

      function parseField(str){
        var obj = {};
        var lines = str.split('\n');
        for(var i in lines){
          console.log(lines[i]);
        }
        return str;
      }

      function getScope(){
        return angular.element(document.querySelector('.app')).scope();
      }

      function serializedArrayToJson(fields){
        var json = {};
        for(var i in fields){
          json[fields[i].name] = jsyaml.load(fields[i].value);
        }
        return json;
      }

      $('#new-playbook').click(function(e){
        var name = prompt('Playbook Name');
        if(name){
          addPlaybook({ name: name }, result=>{
            getScope().reload();
          });
        }
      });

      $('#new-task').click(function(e){
        var name = prompt('Task Name');
        if(name){
          addTask({ name: name }, result=>{
            getScope().reload();
          });
        }
      });

      $('#copy-task').click(function(e){
        $('input:checked').each((i, item)=>{
          copyTask(item.id, response=>console.log(response));
        });
      });

      $('#delete-task').click(function(e){
        var checkedItems = $('input:checked');
        var sure = confirm('Are you sure you want to delete '+checkedItems.size()+' items?');
        if(sure){
          checkedItems.each((i, item)=>{
            deleteTask(item.id, response=>console.log(response));
          });
        }

      });



      $('#save-playbook').click(function(e){
        savePlaybook();
      });

      $('#save-task').click(function(e){
        var fields = $('form#task').serializeArray();
        var task = serializedArrayToJson(fields);
        var scope = getScope();
        updateTask(scope.activeTaskId, task, (responseText, status, xhr) => {
          console.log(responseText);
          scope.reloadTasks(() => {
            scope.playbookChanged();
          });
        });

      });

      function copyTask(id, cb){
        HttpPost('http://api.rusty.com/v1/ansible_task/copy', "id=" + id, (responseText, status, xhr) => {
          if(cb) cb(responseText);
        });
      }

      function deleteTask(id, cb){
        var sure = confirm('Are you sure you want to delete task id='+id+'?');
        if(sure){
          HttpPost('http://api.rusty.com/v1/ansible_task/delete', "id=" + id, (responseText, status, xhr) => {
            if(cb) cb(responseText);
          });
        }
      }

      function addTask(task, cb){
        var taskJsonString = JSON.stringify(task, null, 2),
            document = encodeURIComponent(taskJsonString);
        HttpPost('http://api.rusty.com/v1/ansible_task/add', "document=" + document, (responseText, status, xhr) => {
          if(cb) cb(responseText);
        });
      }

      function updateTask(id, task, cb){
        var taskJsonString = JSON.stringify(task, null, 2),
            document = encodeURIComponent(taskJsonString);
        HttpPost('http://api.rusty.com/v1/ansible_task/update', "id="+id+"&document=" + document, (responseText, status, xhr) => {
          if(cb) cb(responseText, status, xhr);
        });
      }

      function getAllTasks(cb){
        HttpGet('http://api.rusty.com/v1/ansible_task/list', "", (responseText, status, xhr) => {
          var tasks = JSON.parse(responseText);
          if(cb) cb(tasks);
        });
      }

      function getAllPlaybooks(cb){
        HttpGet('http://api.rusty.com/v1/ansible_playbook/list', "", (responseText, status, xhr) => {
          var tasks = JSON.parse(responseText);
          if(cb) cb(tasks);
        });
      }

      function updatePlaybook(id, playbook, cb){
        var taskJsonString = JSON.stringify(playbook, null, 2),
            document = encodeURIComponent(taskJsonString);
        HttpPost('http://api.rusty.com/v1/ansible_playbook/update', "id="+id+"&document=" + document, (responseText, status, xhr) => {
          if(cb) cb(responseText, status, xhr);
        });
      }

      function updatePlaybookTask(task_id, playbook_id, cb){
        HttpPost('http://api.rusty.com/v1/ansible_playbook/updateTask', "task_id="+task_id+"&playbook_id=" + playbook_id, (responseText, status, xhr) => {
          if(cb) cb(responseText, status, xhr);
        });
      }

      function addPlaybook(playbook, cb){
        var taskJsonString = JSON.stringify(playbook, null, 2),
            document = encodeURIComponent(taskJsonString);
        HttpPost('http://api.rusty.com/v1/ansible_playbook/add', "document=" + document, (responseText, status, xhr) => {
          if(cb) cb(responseText);
        });
      }

      function savePlaybook(){
        var playbook = getPlaybook();
        var id = $('form select[id=playbook] option:checked').val();
        //playbook.name = $('form select[id=playbook] option:checked').text();
        updatePlaybook(id, playbook, (responseText) => {
          console.log(responseText);
        });
        for(var i in playbook.tasks){
          var taskId = playbook.tasks[i];
          var task = getPlaybookTaskById(taskId);
          updatePlaybookTask(taskId, id, result=>console.log(result));
        }
      }

      function getPlaybook(){
        var playbook = serializedArrayToJson($('form#playbook').serializeArray())
        playbook.tasks = [];
        var tasks = getScope().playbookTasks;
        for(var i in tasks){
          var item = tasks[i];
          playbook.tasks.push(item._id);
        }
        //JSON.stringify(playbook, null, 2)
        return playbook;
      }

      function createPlaybook(){
        var playbook = serializedArrayToJson($('form#playbook').serializeArray())
        playbook.tasks = [];
        var tasks = getScope().playbookTasks;
        for(var i in tasks){
          var task = tasks[i].task;

          task[task.module] = task.module_params;
          delete task.module_params;
          delete task.module;

          playbook.tasks.push(task);
        }
        //JSON.stringify(playbook, null, 2)
        return playbook;
      }

      function createTaskTableMarkdown(){
        var playbook = createPlaybookJSON();
        var txt="| Sequence | Task | Tags |\n" +
            "| -------- | ---- | ---- |\n";
        for(var i  in playbook[0].tasks) { 
          txt+="| "+i+" | "+playbook[0].tasks[i].name + " | "+ playbook[0].tasks[i].tags.join(', ').toLowerCase() + " |\n";
        }
        return txt;
      }

      function createPlaybookYAML(){
        //convert to JSON string to remove "undefined" tags
        var jsonString = JSON.stringify([createPlaybook()]);
        return "---\n" + jsyaml.dump(JSON.parse(jsonString));
      }

      function createPlaybookJSON(){
        return jsyaml.load(createPlaybookYAML());
      }

      function findTask(id){
        var task = getTaskById(id);
        if(!task) task = getPlaybookTaskById(id);
        return task;
      }

      function getTaskById(id){
        var tasks = getScope().tasks;
        for(var i in tasks){
          if(tasks[i]._id == id){
            return tasks[i];
          }
        }
        return null;
      }

      function getPlaybookTaskById(id){
        var tasks = getScope().playbookTasks;
        for(var i in tasks){
          if(tasks[i]._id == id){
            return tasks[i];
          }
        }
        return null;
      }

      function clearTaskForm(){
        var fields = $('form#task').serializeArray();
        for(var i in fields){
          $('form#task [name='+fields[i].name+']').val('');
        }
      }

      function clearPlaybookForm(){
        var fields = $('form#playbook').serializeArray();
        for(var i in fields){
          $('form#playbook [name='+fields[i].name+']').val('');
        }
      }

      function addEventTaskClickEventListener(){

        $('.user-task').unbind('click');

        $('.user-task').click(function(e){
          var id = this.id,
              scope = getScope(),
              taskFoundHandle = function(task){
                clearTaskForm();
                scope.activeTaskId = id;
                scope.$apply();
                for(var field in task){
                  var value = field=='module' ? task[field] : jsyaml.dump(task[field]);
                  $('form#task [name='+field+']').val(value);
                }
              };

          for(var i in scope.tasks){
            if(scope.tasks[i]._id == id){
              var task = scope.tasks[i].task;
              taskFoundHandle(task);
            }
          }
          for(var i in scope.playbookTasks){
            if(scope.playbookTasks[i]._id == id){
              var task = scope.playbookTasks[i].task;
              taskFoundHandle(task);
            }
          }
        });
      }

      function updateTaskListOrder(){
        $('#sortable-tasklist div').each((i, elem)=>{
          var task = getPlaybookTaskById(elem.id);
          if(task){	
            task.index = Number(i);
            //console.log('sortable-tasklist', task._id +' Index: '+ i)
          }
        });
        //sort task list
        getScope().playbookTasks.sort(function(a,b){ 
          return a.index > b.index ? 1:-1;
        });

        $('#global-tasklist div').each((i, elem)=>{
          var task = getTaskById(elem.id);
          if(task){	
            task.index = Number(i);
            //console.log('global-tasklist', task._id +' Index: '+ i)
          }
        });
        //sort task list
        getScope().tasks.sort(function(a,b){ 
          return a.index > b.index ? 1:-1;
        });

        addEventTaskClickEventListener();

      }

      $('#global-tasklist').sortable({
        connectWith: ".connectedSortable",
        receive:function(e, ui){
          var taskId = ui.item.context.id, 
              task = getPlaybookTaskById(taskId);
          console.log('#global-tasklist add id='+ taskId + ' @ index=' + task.index);
          getScope().tasks.push(task);
          getScope().playbookTasks.splice(task.index, 1);
          updateTaskListOrder();
        },
        remove: function(e, ui){
          var taskId = ui.item.context.id, 
              task = getTaskById(taskId);
          console.log('#global-tasklist removed id='+ taskId + ' @ index=' + task.index);
        },
        stop: function(e, ui){
          console.log('update global-tasklist');
          updateTaskListOrder();
        }
      });

      $('#sortable-tasklist').sortable({
        connectWith: ".connectedSortable",
        receive:function(e, ui){
          var taskId = ui.item.context.id, 
              task = getTaskById(taskId);
          console.log('#sortable-tasklist add id='+ taskId + ' @ index='+task.index);
          getScope().playbookTasks.push(task);
          getScope().tasks.splice(task.index, 1);
          updateTaskListOrder();
        },
        remove: function(e, ui){
          var taskId = ui.item.context.id,
              task = getPlaybookTaskById(taskId);
          console.log('#sortable-tasklist removed id='+ taskId + ' @ index='+task.index);
        },
        stop: function(e, ui){
          console.log('update sortable-tasklist')
          updateTaskListOrder();
        }
      });

      var app = angular.module('FileSystemApplication', []);

      app.controller('FileSystemController', function($scope, $http) {
        $scope.playbookID = null;
        $scope.tasks = [];
        $scope.playbookTasks = [];
        $scope.playbookList = [];
        $scope.activeTaskId = "";


        $scope.displayLoading = "none";

        $scope.playbookChanged = function(){
          console.log($scope.playbookID);
          var playbook = null;
          for(var i in $scope.playbookList){
            if($scope.playbookList[i]._id == $scope.playbookID){
              playbook = $scope.playbookList[i];
            }
          }

          //empty playbook tasks into task list
          while($scope.playbookTasks.length > 0){
            var task = $scope.playbookTasks.pop()
            $scope.tasks.push(task);
          }

          clearPlaybookForm();

          if(playbook){


            var fields = serializedArrayToJson($('form#playbook').serializeArray());
            for(var field in fields){
              if(playbook.playbook[field]){
                var val = jsyaml.dump(playbook.playbook[field]);
                //console.log(field, val);
                $('form#playbook [name='+field+']').val(val);
              }
            }

            //add playbook tasks to list
            for(var i in playbook.playbook.tasks){
              var taskId = playbook.playbook.tasks[i];
              var task = findTask(taskId);
              $scope.playbookTasks.push(task);
              var taskIndex = -1;
              while( taskIndex++ < $scope.tasks.length){
                if($scope.tasks[taskIndex] && $scope.tasks[taskIndex]._id == taskId){
                  $scope.tasks.splice(taskIndex, 1);
                  break;
                }
              }
            }
          }



          //let angular do its thing!
          setTimeout(function(){
            addEventTaskClickEventListener();
            updateTaskListOrder();
          }, 100);
        }

        $scope.reloadPlaybooks = function(onComplete){
          $scope.playbookList = [];
          getAllPlaybooks(list=> {
            $scope.playbookList = list;
            $scope.$apply();
            if(onComplete) onComplete();
          });
        }
        $scope.reloadTasks = function(onComplete){
          $scope.tasks = [];
          getAllTasks((tasks) => {
            for(var i in tasks){
              tasks[i].index = Number(i);
              $scope.tasks.push(tasks[i]);
            }
            $scope.$apply();
            addEventTaskClickEventListener();
            if(onComplete) onComplete();
          });
        };

        $scope.reload = function(a,b){
          $scope.reloadTasks(a);
          $scope.reloadPlaybooks(b);
        }

        $scope.reload();
      });
    </script>
  </body>
</html>









