<!DOCTYPE html>
<html ng-app="App" ng-controller="DesktopController">
  <head>
    <title>Stack Next Enterprise Desktop</title>
    <link href="/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
    <link href="/lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/lib/jstree/dist/themes/default/style.min.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/elusive-icons-2.0.0/css/elusive-icons.min.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <style>

      .win-controls {
        position: absolute;
        right: 1px;
        top: 1px;
      }

      .task-windows {
        max-width: 200px;
        overflow:hidden;
      }

      #FrameTabs{
        float:left;
      }

      .window-tabs{
        position: absolute;
        bottom: 35px;
      }

    </style>
  </head>
  <body class="noselect">
    <div id="Desktop" style="background-image: url(/images/engine-wallpaper-24.jpg);">
      <div id="Windows" >
        <div ng-repeat="task in Tasks">
          <div ng-repeat="window in task.windows" id="{{window.id}}" style="display:{{window.display}}; height:100%; border:solid 1px #ccc;" class="app panel panel-primary">
            <div class="panel-heading win-handle noselect" style="padding: 5px 10px;">
              <div class="win-controls">
                <button type="button" class="btn btn-xs btn-default win-btn-close" role="button" title="Close">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-xs btn-default win-btn-maximize" role="button" title="Maximize">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-xs btn-default win-btn-minimize" role="button" title="Minimize">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-cloud" style="margin-right: 4px;"></span>
                {{window.title}}
              </h3>
            </div>
            <div class="panel-body win-body" ng-bind-html="window.content|trustAsHtml"></div>
          </div>
        </div>
      </div>
      <div id="StartMenu" style="display:none;">
        <table style="width:100%">
          <tr>
            <td width="300" valign="top">
              <h3 style="color:white; padding: 2px 10px;">
                <div style="font-size:15px;">Stack Next</div>
                <div>Enterprise</div>
                <div style="font-size:20px;">Desktop</div>
              </h3>
              <div id="invoke-myaccount" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                <span class="glyphicon glyphicon-user" style="margin-right: 4px;"></span>
                Russell Page
                <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </div>
              <div id="invoke-system" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                <span class="el el-laptop" style="margin-right: 4px;"></span>
                Manage Systems
                <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </div>
              <div id="invoke-task-manager" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                <span class="glyphicon glyphicon-pencil" style="margin-right: 4px;"></span>
                Task Manager
                <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </div>


              <div style="position: absolute; bottom:0; width: 300px; overflow:auto;">
                <div id="invoke-editor" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                  <span class="glyphicon glyphicon-pencil" style="margin-right: 4px;"></span>
                  Text Editor
                  <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>

                <div id="invoke-file-explorer" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                  <span class="glyphicon glyphicon-cloud" style="margin-right: 4px;"></span>
                  File System
                  <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>

                <div id="invoke-settings" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                  <span class="glyphicon glyphicon-cog" style="margin-right: 4px;"></span>
                  Settings
                  <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
                <div id="invoke-terminal" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                  <span class="glyphicon glyphicon-cog" style="margin-right: 4px;"></span>
                  Terminal
                  <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
                <div id="invoke-power" style="border-left: solid 3px #eee; color: white; padding: 10px; cursor: pointer;">
                  <span class="glyphicon glyphicon-off" style="margin-right: 4px;"></span>
                  Sign off
                  <span style="float:right;" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
              </div>
            </td>
            <td valign="top">
              <!--
<div class="tile-red"></div>
<div class="tile-red"></div>
<div class="tile-red"></div>
<div class="tile-red"></div>-->
            </td>
          </tr>
        </table>
      </div>

      <div id="FileUpload"></div>
      <div class="mouse-top-header"></div>
      <div class="mouse-left-header"></div>
      <div class="mouse-right-header"></div>
      <div class="mouse-bottom-header"></div>
      <div class="window-resize-helper"></div>
    </div>
    <div id="Taskbar" style="display:;">
      <div id="StartButton" onclick="toggleStartMenu()">
        <span class="btn btn-sm btn-default">
          <span class="glyphicon glyphicon-th" style="margin-right: 3px;"></span>
          Menu
          <span class="time noselect"></span>
        </span>
        <span class=""></span>
      </div>
      <div id="FrameTabs">
        <div ng-repeat="task in Tasks" id="task-{{task.id}}" class="app-tasks" style="float:left; margin-left: 3px;" onclick="onToggleTasks(this)">
          <span id="{{task.id}}" title="" class="noselect btn btn-sm btn-default">
            <span class="glyphicon glyphicon-cloud" style="margin-right: 4px;"></span>
            {{task.title}}
          </span>
          <div for="task-{{task.id}}" class="window-tabs" style="display:none; left:{{task.style.left}}px;">
            <div class="task-windows">
              <div ng-repeat="window in task.windows" ng-click="taskClick(this);" id="{{window.id}}" title="" class="noselect btn btn-sm btn-default">
                <span class="glyphicon glyphicon-cloud" style="margin-right: 4px;"></span>
                {{window.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="SystemClock" onclick="toggleClock()">
        <span class="btn btn-sm btn-default">
          <span class="glyphicon glyphicon-time" style="margin-right: 3px;"></span>
          <span class="time noselect">12:00:00 AM</span>
        </span>
        <div class="calendar" style="display:none;">
          <div id="datetimepicker"></div>
        </div>
      </div>
      <div id="Notifications">
        <span class="glyphicon glyphicon-info-sign"></span>
      </div>
    </div>
    <div id="SideMenu" style="display:none;" onmouseout="$('#SideMenu').hide('slide', {direction:'left'}, 250); $('#Desktop').css('left', '0px');">
      <form class="navbar-form">
        <input type="text" class="form-control" placeholder="Search..." style="width:100%">
      </form>
      <div class="navbar-form">
        <ul class="list-group">
          <li class="list-group-item">
            Places
            <ul>
              <li>Recent</li>
              <li>Home</li>
              <li>Desktop</li>
              <li>Documents</li>
              <li>Downloads</li>
              <li>Music</li>
              <li>Pictures</li>
              <li>Videos</li>
              <li>Trash</li>
            </ul>
          </li>
          <li class="list-group-item">
            Devices
            <ul>
              <li>Computer</li>
              <li>USB</li>
            </ul>
          </li>
          <li class="list-group-item">
            Network
            <ul>
              <li>Drive</li>
              <li>DropBox</li>
              <li>Box</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="context-menu">
      <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1">Open</a></li>
        <li><a tabindex="-1">Close</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1">Cut</a></li>
        <li><a tabindex="-1">Copy</a></li>
        <li><a tabindex="-1">Paste</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1">New</a></li>
        <li><a tabindex="-1">Delete</a></li>
        <li><a tabindex="-1">Rename</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1">Unzip</a></li>
        <li><a tabindex="-1">Zip</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1">Properties</a></li>
        <li><a tabindex="-1">Download File</a></li>
      </ul>
    </div>
  </body>
</html>









